
<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
</head>
<style>
  button {
    display: block;
    margin: auto;
    margin-top: 20px;
    width: 200px;
    height: 30px;

  }
</style>
<body>
  <h1 style="text-align: center;">FastAPI</h1>
  <button onclick="window.location.href='/login/'">Вход</button>
  <button onclick="window.location.href='/users/'">Посмотреть пользователей</button>
  <button onclick="window.location.href='/register/'">Регистрация</button>


</body>
</html>